
.grid-layout{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap:10px;
  margin: none;
  width: 50%;
  height: 50%;
  padding: 0;

}
/* 
.filter {
  width: 480px;
  display: flex;
  text-align: center;
  justify-content:center;
  font-family: 'Poppins', sans-serif;
}

.filter div {
  width: 160px;
 
  
}

.filter select {
  width: 145px;
  border: 1px solid black;
  border-radius: 10px;
  background: none;
  margin: 5px;
 
}

.filter select:hover {
  background-color: rgb(202, 202, 202);
}

.filter option {
  background: none;
} 
 */

 .c1 {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content:space-around;
  padding: 10px;
}

.c2 {
  display:flex;
  flex-direction: row;
  justify-content:space-between; 
  padding: 10px;
  border:3px solid transparent;
  width: 1200px;
}

.c4 {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content:space-around;
  padding: 10px;
}

 .hpbot {
  background-color:darkslategrey;
  color: whitesmoke;
  padding-top: 1px;
  cursor: pointer;
  text-align: center;
  padding: 8px 24px;
  border-radius: 8px;
  transition-duration: 0.4s;
  height: 40px;
}
.hpbot:hover {
  background-color:olive;
  color: black; 
}

.hpfilter{
  margin-top: 8px;
  border: 2px solid black;
  height: 40px;
  background-color: wheat;
  cursor:grab;
}

.filter{
  display:flex;
  flex-direction: row;
  justify-content:space-between; 
  padding: 10px;
  border:3px solid transparent;
  width: 1400px;


}